<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Message Window</title>
</head>
<body>
    <textarea id="chat-log" cols="100" rows="20">Hello</textarea><br>
    <script>
        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/get-messages/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            console.log("Data", data);      
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };

    </script>
</body>
</html>
